* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

header {
  background-color: rgb(242, 239, 239);
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

main {
  height: 75%;
}

form {
  margin-top: 16px;
  width: 672px;
}

input {
  width: 60%;
  padding: 8px 12px;
  outline: none;
  border: 1px solid rgb(213, 204, 204);
  border-radius: 8px;
  font-size: 18px;
  font-family: inherit;
}

button {
  border: none;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 150ms ease-in;
  font-family: inherit;
}

.search-btn {
  background-color: #2dd4bf;
  color: white;
}

.search-btn:hover {
  background-color: #5eead4;
}

.reset-btn {
  border: 1px solid #2dd4bf;
}

.reset-btn:hover {
  background-color: #5eead4;
}

.details {
  width: 672px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #2dd4bf;
  border-radius: 8px;
}

.description {
  text-transform: uppercase;
  font-weight: 600;
  color: #0f766e;
  margin-bottom: 6px;
}

.error {
  background-color: #f87171;
  width: 672px;
  padding: 8px 24px;
  color: #fff;
  font: 600;
  font-size: 24px;
  border-radius: 8px;
  display: none;
}

.error svg {
  width: 48px;
}

.show {
  display: flex;
  display: flex;
  align-items: center;
  gap: 8px;
}
  